*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: antiquewhite;
}

body::-webkit-scrollbar
{
  background-color: #111;
}

body::-webkit-scrollbar-thumb
{
  background-color: red;
  border-radius: 10px;
}
